
html, body {
	background-color:black;
	margin:0px;
	padding:0px;
}

#canvas {
	display: block;
	background-color: black;
}

#debug {
	display:none;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	color:white;
	z-index:1000;
}